.checkout{
    padding: 20px 0 0 0;
}

.checkout-box{
    margin-bottom: 25px;
}

.tickbox {

}

.tickbox .custom-control-label::before {
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border: 3px solid #259cc0;
    border-radius: 0 !important;
}

.tickbox .custom-control-label {
    position: relative;
    margin-bottom: 0;
    padding-left: 25px;
    cursor: pointer;
}

.tickbox-img {
    position: relative;
    display: flex;
}

.tickbox-img img{
    width:160px;
}

.tickbox-img span {
    position: absolute;
    bottom: 0px;
    padding: 3px 0;
    background-color: rgb(37 140 171);
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.tickbox .custom-control-label a{
    text-decoration: underline;
    font-weight: 600;
}

.tickbox .custom-control-label::after {
    width: 2rem;
    height: 2rem;
}

.checkout-box h3{
    font-weight: 700;
    margin-bottom: 15px;
}

.checkout-box .form-control {
    height: calc(2.25rem + 25px);
    padding: .375rem 1.5rem;
    color: #1a1a1a;
    border: 1px solid #d5d5d5;
    border-radius: 50px;
}

.checkout-box .form-group {
    margin-bottom: 1.5rem;
}

.checkout-box .form-control::-webkit-input-placeholder { /* Edge */
    color: #1a1a1a;
}

.checkout-box .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1a1a1a;
}

.checkout-box .form-control::placeholder {
    color: #1a1a1a;
}

.payment-method{
    margin-top: 40px;
    position: relative;
}

.nav-link img{
    max-height: 24px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #259cc0 #259cc0;
    border-width: 3px;
    border-radius: 25px;
}

.nav-tabs {
    border-bottom: 0;
}

.tab-content {
    border: 2px solid #259cc0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.payment-method .tab-content{
    border: none;
}
.tab-content{
    padding: 40px 20px 30px 20px;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
    margin-right: 15px;
    width: calc(25% - 15px);
    text-align: center;
}

.tab-content .form-control{
    background-color: #f9f9f9;
}

.nav-tabs .nav-link {
    background: #ffffff;
    padding: .7rem 0rem;
    border: 3px solid #dee2e6;
    border-radius: 25px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #259cc0 #259cc0;
}
.instalment {
    position: absolute;
    top: -60px;
    right: -20px;
}

.add-addon{
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    border: 3px solid #259cc0;
    padding: 15px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
}

.tickbox-addon{
    background-color: #259cc0;
    padding: 20px 15px;
    color: #ffffff;
    border-radius: 25px;
}

.tickbox-addon .custom-control-label::before {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid #f4df00;
    top: 1rem;
    left: -0.5rem;
}

.tickbox-addon .custom-control-label::after {
    width: 2.5rem;
    height: 2.5rem;
    color: #f4df00;
    left: -0.5rem;
    top: 1rem;
}

.down-arrow {
    position: absolute;
    left: 1.5rem;
    top: -15px;
    max-width: 25px;
}

.tickbox-addon .custom-control-label {
    padding-left: 60px;
    padding-right: 60px;
}

.addon-text{
    padding:20px 5px;
}

.addon-text p{
    margin-bottom: 10px;
}

.addon-text a {
    text-decoration: underline;
    color: #1a1a1a;
    margin-bottom: 15px;
    display: block;
}

.addon-text a:hover {
    color: #259cc0;
}

.addon-text a.information {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0;
}

.underlined span {
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 1rem;
}

.totaltopay span{
    font-size: 22px;
    font-weight: 500;
}

.pay-button .btn {
    width: 100%;
    padding: 20px 0;
    border-radius: 50px;
}

.btm-logo {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 50px;
    padding: 15px 15px;
}

.btm-logo .fa-lock {
    color: #00a02f;
    font-size: 45px;
    margin-right: 10px;
}

.btm-logo p{
    line-height: 1rem;
    margin-bottom: 0;
}

.checkout-sidebar .white-box{
    margin-bottom: 20px;
}

.terms.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    background: transparent;
    border: 2px solid #dcdcdc;
    width: 1.3rem;
    height: 1.3rem;
    top: 3px;
    left: -1.8rem;
}

.front {
    z-index: 5;
    position: relative;
}

.terms.custom-checkbox .custom-control-label::after {
    width: 1.3rem;
    height: 1.3rem;
    top: .1rem;
    left: -1.8rem;
}

.terms.custom-control {
    padding-left: 1.8rem;
}

.checkout-sidebar .coupon {
    box-shadow: none;
    margin: 0px 0;
}

.order-summery .remove-items {
    left: 0;
}

.order-summery .cart-items, .order-summery > p {
    padding-left: 20px;
}

.order-summery h3 {
    border-top: 1px solid gainsboro;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}


.order-details-outer{
    background-color: #f9f9f9;
    border-radius: 25px;
    padding:20px;
}

.order-img{
    padding: 0;
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bold{
    font-weight: 600;
}

.checkout-thnkyou-box {
    padding: 25px 50px 50px 50px;
    margin-bottom: 25px;
}

.order-img p {
    padding: 25px 0;
    font-weight: 600;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
}

.order-img img{
    border-radius: 25px;
    width: 100%;
}

.order-details p{
    margin-bottom: 5px;
    font-weight: 500;
}

.order-details .btn-primary {
    /*width: 100%;*/
    border-radius: 50px;
    padding: 15px 60px;
}

.view-invoice{
    background-color: #ffffff;
    padding: 15px 60px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #259cc0;
    box-shadow: 1px 2px 4px #d2cfcf;
}
#checkoutMain .white-box {
    -webkit-box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 5%);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 26px;
}
#checkoutMain .coupon {
    box-shadow:none;
    margin:0;
}
.order-summery {
    margin:0;
    padding:0;
}
h4.pay-instalments{
    padding: 20px;
    color: #000000;
    text-align: center;
    background: #DEF0D4;
}
h3.inst-pay{
    font-weight: normal;
}
h4.inst-pay img{
    float: left;
    margin-right: 5px;
    width: 25%;
}
h4.inst-pay span{
    float: left;
    width: 72%;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}
.add-addon {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    border: 5px dashed #259cc0;
    padding: 15px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
}
.tickbox-addon .custom-control-label::before {
    border: 4px solid #259cc0;
    left: -0.5rem;
    background-color: #fff;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    background-color: #259cc0;
    border: 3px solid #fff;
}
h4.inst-pay span {
    float: left;
    width: 72%;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
h3.inst-pay {
    font-weight: normal;
    font-size: 1.4rem;
}
h4.pay-instalments {
    padding: 20px;
    color: #000000;
    text-align: center;
    background: #DEF0D4;
    font-size: 1.2rem;
}
h4.inst-pay img {
    float: left;
    margin-right: 5px;
    width: 25%;
    margin-bottom: 30px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #259cc0;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #259cc0;
}
.tickbox-addon {
    padding: 20px 20px;
    color: #ffffff;
    border-radius: 25px 25px 0px 0px;
    font-size: 1.5rem;
}
.info-arrow {
    width: 32px;
    cursor: pointer;
    float: right;
    top: 18px;
    position: absolute;
    right: 0px;
}
.modal img.upsell-col{
    width: 100%;
    height: 200px;
}
.modal p.upsell-col{
    padding: 20px;
    min-height: 155px;
    font-size: 18px;
}
.modal .upsell-col h3{
    padding-bottom: 25px;
    padding-top: 49px;
}
#upsellDetails .modal-content{
    border-bottom: none;
}
.createBundleSection{

    padding: 40px 20px;
    text-align: center;
}
.borderBlue{
    border: 3px solid #259cc0;
    border-radius: 10px;
}
.createBundleSection h4{
    text-transform: uppercase;
}
.customCourse{
    padding: 10px;
}
.customCourse img{
    margin-bottom: 5px;
}
.createBundleSection .btn-secondary:hover {
    background: #259cc0;
    color: #ffffff;
}
.customCourse h3 {
    font-size: 1.2rem;
}
.customCourse h5 {
    font-size: 1rem;
}
.createBundleSection select {
    color: #1A1A1A;
    border-radius: 25px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #f9f9f9 url(../images/down-arrow-dark.png) no-repeat;
    background-position: 98% center;
    padding-left: 30px;
    cursor: pointer;
    height: 55px;
    width: 95%;
    font-size: 18px;
}

.createBundleSection .select2{
    text-align: left;

}
.createBundleSection .select2 .select2-selection{
    border-radius: 20px;
    height: 46px;
}
.createBundleSection .select2-container.form-error{
    border-radius: 21px;
}
.createBundleSection .select2 .select2-selection__arrow{
    background: #259cc0;
    width: 45px !important;
    height: 45px !important;
    border-radius: 0px 20px 20px 0px;
}
.createBundleSection .select2 .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent !important;
    border-width: 10px 10px 0 10px !important;
    margin-top: -4px !important;
    margin-left: -9px !important;
}
.createBundleSection .select2 .select2-selection__rendered{
    height: 40px !important;
    padding-left: 20px !important;
    padding-top: 5px;
    font-size: 18px;
}
.createBundleSection select:focus-visible {
    border-color: #259cc0;

}
h3.selectCoursesTitle{
    text-align: center;
    font-family: 'Poppins', sans-serif, cursive;
    padding-top: 10px;
}
.upsell-box .main-heading-box {
    background: #259cc0;
    padding: 30px;
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
}
.upsell-box.offer1-box .main-heading-box {
    margin-bottom: 20px;
    border-radius: 20px;
}
.upsell-box.offer1-box .main-heading-box h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.upsell-box.offer1-box p{
    margin-bottom: 0px;
}
.upsell-box .main-heading-box h3{
    color: #F2DF00;
}
.upsell-box .main-heading-box h4{
    font-weight: normal;
}
.upsell-box p{
    margin-bottom: 10px;
}
.checkout-offer-button{
    background: #259cc0;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    border: 4px solid #259cc0;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 20px;
}
.offer1-box .checkout-offer-button{
    background: #F2DF00;
    color: #000000;
    margin-top: 10px;
}
.checkout-offer-button:focus{
    outline: none;
}
.checkout-offer-button:hover{
    border: 4px solid #F2DF00;
}
.selectedUpsellOffer{
    position: absolute;
    background: rgba(37,156,192,0.9);
    width: 96%;
    height: 300px;
    z-index: 999;
    color: #ffffff;
    border-radius: 20px;
    border: 3px solid #F2DF00;
    padding-top: 15%;
    text-align: center;
}
.offer2-box .selectedUpsellOffer{
    height: 500px;
    width: 97%;
}
.offer1-box .selectedUpsellOffer{
    height: 380px;
    width: 97%;
}
.selectedUpsellOffer label{
    text-decoration: underline;
    cursor: pointer;
}
.selectedUpsellOffer i{
    font-size: 60px;
}
.cart-items .product-img img{
    width: 120px;
}
.premium_list{
    border-top: 1px solid gainsboro;
    padding-top: 15px;
    list-style: none;
    padding-left: 0px;
}
.premium_list li{
    background: url(../images/list_check.png) no-repeat;
    padding-left: 30px;
    margin-bottom: 2px;
    font-size: 18px;
    background-size: 20px;
    background-position: 5px;
}
.order-summery .product-title{
    padding: 0 0px 0 15px;
}
@media(max-width:700px) {
    .tickbox-addon {
        font-size:15px;
    }
    .tickbox-addon .custom-control-label {
        padding-top:0px !important;
    }
    .addon-text p {
        font-size:12px;
    }
}
.orderSummaryStick {
    position: sticky;
    top: 88px;
    z-index: 9;
}
.sslImg {
    /*width: 150px;*/
    margin-top: 20px;
}
.cards-details-box li.nav-item{
    width: calc(33% - 15px) !important;
}
.lookingGift, .hideGiftOption{
    background: #F9F9F9;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
.lookingGift span, .hideGiftOption span{
    cursor: pointer;
    text-decoration: underline;
}
.coupon p.haveCoupon{
    padding: 10px;
    border: 1.5px solid #d5d5d5;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
    cursor: pointer;
}
.order-summery .totals h3{
    font-weight: normal;
    font-size: 24px;
}
.order-summery .totals h3 .checkout_total_amount{
    font-weight: bold;
    font-size: 26px;
}
.printedCartItem{
    background: #B4D08D;
    color: #ffffff;
    padding: 15px 35px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.printedCartItem h5{
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.printedCartItem h5 span{
    float: right;
    background: #fff;
    color: #000;
    padding: 4px 6px 1px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    /*margin-top: -2px;*/
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.order-summery .remove-items{
    top: 32%;
    color: #1A1A1A;
}
.coupon .form-control{
    border-radius: 10px;
    border: 2px solid #808080;
}
.coupon .btn-outline-secondary{
    border-radius: 10px;
}
.useAccountBalance {
    background: #249dbf;
    width: 100%;
    color: #fff;
    display: block;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
}
.useAccountBalance:hover {
    background: #1e6e8a;
    text-decoration:none;
    color:#fff;
}
.useAccountBalance i {
    margin-right:3px;
}
#upsell .modal-dialog {
    height:auto;
}
#upsell .modal-content {
    padding:15px;
}
.upsellBtn {
    background: #259cc0;
    color: #fff;
    padding: 10px 20px;
    margin-right: 9px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    border:2px solid #259cc0;
    font-weight:600;
}
.upsellBtn.no {
    background:none;
    color:#259cc0;
}
.upsellBtn i {
    margin-right:3px;
}
.upsellBtn:hover {
    opacity:0.7;
    text-decoration:none;
}