
/*-- Home Page Styling---*/

.home-banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: calc(100% - 120px);
    background: url(../images/homeBanner.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.home-banner-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 35px;
}

.home-banner-subtitle {
    display: inline-table;
    margin: auto;
    color: #b2d489;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid;
}

.search-box{
    max-width: 1000px;
    margin:auto;
    margin-top: 30px;
}

.search-box .search-field{
    float: left;
    width: calc(100% - 100px);
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #1A1A1A;
    font-size: 22px;
    padding: 18px 0 18px 40px;
}

.search-box .search-field::-webkit-input-placeholder { /* Edge */
    color: #1A1A1A;
  }
  
  .search-box .search-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1A1A1A;
  }
  
  .search-box .search-field::placeholder {
    color: #1A1A1A;
  }

.search-box .search-button {
    float: left;
    width: 100px;
    text-align: center;
    background: #259CC0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 68.8px;
    line-height: 68.8px;
}

.banner-buttons a{
    margin: 40px 10px 0 10px;
    border: 3px solid #e4e4e4;
    color: #ffffff;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    display: inline-table;
    padding:10px 0;
    font-weight: 500;
    font-size: 16px;
}

.banner-buttons a:hover{
    background: #259cc0;
    color:#fff;
    border:  3px solid #259cc0;
    text-decoration: none;
}
.banner-buttons a .fa-medal {
    color: #fcd609;
    margin-right: 4px;
    font-size: 23px;
}
.banner-buttons a.featured {
    border: 3px solid #fcd609;
    background: #259cc0;
}
.banner-buttons a.featured:hover {
    background: #147d9b;
}
.reviews-home{
    width: 100%;
    background: #259cc0;
    padding: 20px 5%;
    border-radius: 100px;
    margin-top: 50px;
}

.reviews-home div{
    display: inline-table;
    color:#ffffff;
    width:100%;
    padding: 0 7px;
    vertical-align: top;
}
.reviews-home div h4{
    font-weight: 300;
    font-size: 20px;
}

.reviews-home div p {
    font-weight: 300;
    margin: 5px 0px;
    font-size: 14px;
    text-align: left;
}

.stars-with-time{
    float: left;
    width: 100%;
}

.stars-with-time p{
    float: right;
    font-size: 12px;
}

.stars-with-time img{
    float: left;
}

.reviews-home div h5 {
    font-weight: 400;
    margin: 10px 0px 0 0;
    font-size: 15px;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.reviews-home div p.review-user {
    margin-top: 20px;
}

main.HomePage{
    background: #ffffff;
}

.all-course-btn{
    display: inline-block;
    margin-top: 65px;
    width: 100%;
    text-align: center;
}

.all-course-btn .btn{
    border: 3px solid #248cab;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 40px;
}

.btn-outline-primary {
    color: #1A1A1A;
    background-color: transparent;
    background-image: none;
    border-color: #248cab;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #248cab;
    border-color: #248cab;
}

.nsa-features h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.nsa-features p {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.nsa-features .col-12 {
    margin-bottom: 25px;
}

.bottom-bordered-section{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
}

.totals-section{
    width: 100%;
    background: url('../images/totals-bg.jpg') no-repeat;
    background-size: cover;
    color: #ffffff;
}

.totals-icon{
    display: inline-block;
    margin-top: 40px;
}

.totals-section label{
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    width: 100%;
}

.totals-section p{
    font-weight: 300;
}


/*--TEENS UNITED CSS--*/
.teens-banner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: calc(100% - 45px);
    background: url(../images/teens-bg-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.teens-main-logo {
    padding: 80px 0px;
}

.teens-tagline h3{
    color: #b2d489;
}

main.regular.teens {
    margin-top: -45px;
    padding-top: 85px;
}
@media(max-width:700px) {
    .search-box .search-button {
        width:70px;
        height: 63.8px;
        line-height: 63.8px;
    }
    .search-box .search-field {
        width: calc(100% - 70px);
        font-size:19px;
        padding: 18px 0 18px 21px;
    }
}
@media(max-width:1000px) {

    .category-box-sub .category-box {
        width: calc(24% - 10px);
    }
    .category-box-sub img {
        height: auto;
        width: auto;
    }

}
@media(max-width:1000px) {

    .category-box-sub .category-box {
        width: calc(24% - 10px);
    }
    .category-box-sub img {
        height: auto;
        width: auto;
    }

}
@media(max-width:900px) {

    .category-box-sub .category-box {
        width: calc(49% - 10px);
    }

}
@media(max-width:500px) {

    .home-banner-subtitle {
        font-size:20px;
    }
    .home-banner-title {
        font-size:30px;
    }

}
.category-box .hover {
    opacity:0;
    position: absolute;
    width: 100%;
    background: rgb(2 2 2 / 61%);
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    border-radius: 18px;
    font-size: 22px;
    padding-top: 75px;
}
.category-box:hover .hover {
    opacity:1;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    height:192px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.category-box-sub .category-title {
    will-change: opacity;
}

.flip-card-back {
    background-color: #269cc0;
    color: white;
    transform: rotateY(180deg);
    border-radius:16px;
}
.flip-card:hover .flip-card-inner .category-title{
    transform: rotateY(180deg);
}
@media(max-width:800px) {
    .flip-card {
        height: 105px !important;
    }
    .category-box-sub img {
        height: auto;
        width: auto;
        width: 58px;
        display: block;
        margin: auto;
    }
    .category-title {
        position: relative;
        left: 0;
        bottom: 0;
        width: 75%;
        text-align: center;
        color: #259cc0;
        background: #ffffff;
        border-top-right-radius: 30px;
        padding: 7px 0;
        font-weight: 600;
        letter-spacing: 0.5px;
        border-bottom-left-radius: 20px;
    }
    .home-banner:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.6;
        content: " ";
        z-index: 1;
    }
    .category-box-sub .category-box {
        width: calc(33% - 11px);
    }
}
.premiumBanner {
    padding:50px 0px;
    display:block;
}
.premiumBanner img.mobile {
    display:none;
}
.premiumBanner img {
    width:auto;
    max-width:100%;
}
.premiumBanner{
    background-color: #259cc0;
    background-image: url(../images/subscribe-background.png);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;
    margin-top: 20px;
}
label.premium_membership{
    background-color: #b2d489;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 30px;
    margin-top: 20px;
}
.premiumBanner .premium_title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    float: left;
}
.premiumBanner .premium_list{
    color: #ffffff;
    font-size: 20px;
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
    max-width: 800px;
    float: left;
}
.premiumBanner .premium_list li i{
    margin-right: 10px;
}
.premium_price{
    background-image: url(../images/subscribe-price.png);
    width: 160px;
    height: 160px;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    font-size: 46px;
    line-height: 30px;
    padding-top: 10px;
    float: right;
    margin-right: 20px;

}
.premium_price span{
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.premium_price label{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 60px;
}
.premium_price label sup{
    top: -0.3em;
    font-size: 60%;
}
.premium_start_button{
    background-color: #0D4254;
    padding: 20px 60px 10px;
    color: #ffffff;
    position: absolute;
    bottom: -50px;
    right: 16px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    border-radius: 40px 0px 0px;
}
.premium_start_button:hover{
    color: #ffffff;
}

@media(max-width:600px) {
    .premiumBanner img{
        width: 130px;
        margin-bottom: 20px;
    }
    .premium_membership{
        display: none;
    }
    .premiumBanner .premium_list{
        font-size: 12px;
        text-align: left;
    }
    .premium_price{
        width: 95px;
        margin-right: 0px;
        height: 93px;
        background-size: cover;
        line-height: 20px;
        padding-top: 0px;
        position: absolute;
        right: 5px;
        top: 120px;
    }
    .premium_start_button{
        position: relative;
        bottom: inherit;
        right: inherit;
        font-size: 16px;
        border-radius: 15px;
        margin-top: 10px;
        padding: 5px 25px;
    }
    .premium_price span{
        font-size: 12px;
    }
    .premium_price label{
        font-size: 30px;
        line-height: 10px;
    }
    .premiumBanner .premium_title{
        font-size: 22px;
        text-align: center;
    }
    .premiumBanner img.mobile {
        display:block;
        margin:auto;
    }
    .premiumBanner img.desktop {
        display:none;
    }
    .premiumBanner {
        padding: 30px 15px 40px;
        text-align: center;
    }
}
.premiumBanner img:hover {
    opacity:0.8;
}
