@font-face {
    font-family: Candlescript;
    src: url(font/Candlescript.otf);
    font-weight: 400;
}

@font-face {
    font-family: Collection;
    src: url(font/Collection.otf);
    font-weight: 400;
}

.sideboxes{
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 10px;
    margin-bottom: 20px;
}

.course-details{
    display: inline-block;
    padding:0 15px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    width: 100%;
    margin-bottom: 10px;
}

.course-details:last-child{
    border-bottom: 0;
}

.course-details p{
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 20px;
}

.course-details span{
    float: left;
}

.course-details a.btn-secondary{
    float: right;
    padding:5px 20px;
}

.course-details a.btn-primary{
    padding:10px 0px;
    width: 250px;
    max-width: 85%;
}


.sideboxes.youtube{
    padding:0;
}

.sideboxes.youtube img{
    width: 100%;
}

.single-course-banner{
    display: inline-block;
    width: 100%;
    position: relative;
}

.single-course-banner .banner{
    width: 100%;
    border-radius: 25px;
}

.single-course-banner .buy-options{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(255 255 255 / 67%);
    width: 100%;
}

.single-course-banner .buy-options .left-logos {
    display: inline-table;
    margin-top: 5px;
}

.single-course-banner .buy-options .left-logos img {
    margin-left: 10px;
    max-height: 55px;
}

.single-course-banner .buy-options .price {
    float: right;
    display: inline-table;
}

.single-course-banner .buy-options .price a{
    color: #ffffff;
    height: 65px;
    line-height: 65px;
    padding: 0 35px;
    border-bottom-right-radius: 25px;
    font-size: 25px;
    font-weight: 600;
}


.single-course-banner .buy-options .price span{
    margin-right: 20px;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 7px;
}

.single-course-content {
    display: inline-block;
    margin: 40px 0;
    width: 100%;
}

.single-course-content .nav-tabs .nav-link.active {
    color: #1A1A1A;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.single-course-content .nav-tabs .nav-link {
    color: #1A1A1A;
    font-weight: 600;
    border:0;
    padding: 0.7rem 1.5rem;
}

.single-course-content .nav-tabs .nav-item{
    margin-bottom: 0;
}

.single-course-content .nav-tabs {
    border-bottom: 0;
}

.single-course-content .tab-content {
    background: #ffffff;
    display: inline-block;
    width: 100%;
    border-radius: 30px;
    border-top-left-radius: 0;
    padding: 20px;
}

.single-course-content .tab-content p , .single-course-content .tab-content li{
    font-weight: 400;
    line-height: 20px;
}

.single-course-content .tab-content p{
    margin-bottom: 10px;
}

.single-course-content .tab-content h3{
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0;
}

.single-course-content .tab-content ul{
    padding: 0 0 0 15px;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 17px;
}

.single-course-content .tab-content li{
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
}

.single-course-content .tab-content li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: relative;
    left: -10px;
    top: 1px;
    color: #259cc0;
}

.features-box{
    padding: 0;
    border-radius: 50px;
    margin: 40px 0;
    margin-top: 20px;
}

.features-box span {
    width: 24.5%;
    display: inline-block;
    text-align: center;
    border: 3px solid #259cc0;
    border-radius: 40px;
    color: #259cc0;
    font-weight: bold;
    vertical-align: top;
    padding: 10px 18px;
}

.features-box span .icon {
    display: inline-block;
    width:33%;
    font-size:30px;
    text-align:center;
}

.single-course-content .tab-pane .features-box span p  {
    display: inline-block;
    max-width: 65%;
    line-height: 22px;
    font-size: 13px;
    font-weight: 600 !important;
    margin-top: 15px;
    width: 65%;
    vertical-align: top;
    margin-bottom: 0;
}
.studyGroup {
    background:#259cc0;
    color:#fff;
    text-align:center;
    border-radius:40px;
    padding:20px 20px;
    font-weight:bold;
    font-size:18px;
    margin-top:-18px;
}

.related-courses{
    margin-bottom: 75px;
    display: inline-block;
    width: 100%;
}

.related-courses .section-title{
    margin-bottom: 20px;
}

.review-boxes{
    background: #f9f9f9;
    padding: 20px 0px 0 0;
    border-radius: 15px;
    margin: 20px 0 20px 0;
}

.review-boxes p{
    padding: 0px 25px;
}

.review-boxes .review-user-details{
    width: 100%;
    display: inline-table;
    background-color: #259cc0;
    color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:15px 25px;
}

img.review-user{
    display: inline-table;
    border-radius: 50px;
    margin-right: 20px;
    width:50px;
    height:50px;
}

.review-boxes .review-user-details div {
    display: inline-table;
    position: relative;
    top: -8px;
}

.review-boxes .review-user-details div h3{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.review-boxes .review-user-details div span{
    font-size: 16px;
    font-weight: 300;
}

/*-- certificate css --*/

.certificate-main {
    padding: 20px;
    width: 100%;
    min-height: 685px;
    background: url(../images/certificate-bg.png) no-repeat;
    background-size: cover;
    border: 1px solid rgb(209 209 209 / 55%);
}

.certificate-inner{
    width: 100%;
    display: inline-block;
    min-height: 645px;
    background: url(../images/certificate-bg2.png) no-repeat;
    background-size: cover;
}

.certificate-logo{
    float: left;
    margin-left: 50px;
    position: relative;
    top: -20px;
}

.certificate-id{
    float: right;
    margin:20px 30px 0 0;
    font-size: 22px;
    font-weight: 400;
}

.certificate-content{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.certificate-title {
    color: #10627a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    margin: 5px 0;
    line-height: 35px;
}

.certificate-subtitle {
    color: #10627a;
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 20px;
    margin: 0 !important;
    letter-spacing: 1.5px;
}

.certificate-present {
    color: #1A1A1A;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 1px;
}

.certificate-customer-name {
    color: #10627a;
    font-family: Candlescript;
    font-size: 60px;
    padding: 5px 0 0 0;
    margin-bottom: 0;
}

.certificate-line{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.certificate-line img{
    max-width: 220px;
}

.certificate-for{
    color: #1A1A1A;
    font-weight: 400 !important;
    font-size: 13px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.certificate-of {
    color: #1A1A1A;
    font-size: 25px;
    margin-bottom: 0;
}

.certificate-date{
    color: #1A1A1A;
    font-weight: 400 !important;
    font-size: 13px !important;
}

.certificate-bottom{
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
}

.certificate-bottom .signature {
    font-family: Collection;
    font-size: 40px;
    border-bottom: 1px solid #259cc0;
    display: inline-table;
}

.single-course-content .tab-content .signature-name {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.single-course-content .tab-content .signature-post{
    font-size: 16px;
    letter-spacing: 1px;
}

.qualification-features {
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 40px;
}

.qualification-features h3{
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 500;
}

.btn-light{
    background-color: #f4f4f4;
    border: 0;
    color: #1A1A1A;
}

.qualification-features .btn {
    width: 180px;
    max-width: 85%;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 5px;
}

.qualification-features span {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.qualification-features .col-12{
    padding-top: 20px;
}
.qualification-features .btn.employees-btn {
    padding:6px 5px 2px 5px;
}

.employees-btn i{
    margin-right: 5px;
    font-size: 32px;
    color: #ffffff;
}

.employees-btn i.primary{
    color: #259cc0;
}

.qualification-features .col-12.bg-light {
    background-color: #f4f4f4 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.multiCourses {
    color: #fff;
    background: #b2d489;
    padding: 20px 30px;
    width: 100%;
    border-radius: 19px;
    margin-top: 30px;
}
.multiCourses h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 19px;
}
.multiCourses .item {
    color: #333;
    background: #fff;
    padding: 10px 20px;
    border-radius: 24px;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 15px;
}
.multiCourses .item:hover {
    background:#eee;
    color: #333;
    text-decoration:none;
}
.left-filters.col-lg-3 {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 5px;
    -ms-flex: 0 0 94%;
    flex: 0 0 94%;
    margin-bottom: 20px;
}
.left-filters .card {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    padding: 0 20px;
}
.left-filters .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: .75rem 0rem;
}
.saveHeart {
    top: 8px;
    right: 10px;
    font-size: 40px;
    color: #cf0e0e;
}
.sideboxes.youtube {
    padding: 8px 8px;
    padding-bottom: 1px;
}
.sideboxes.youtube iframe {
    border-radius: 6px;
}
.includedPremium {
    background: #B2D489;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 23px;
    position: absolute;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.includedPremium i {
    color:#FFFC00;
    font-size:20px;
    margin-left:5px;
}
@media(max-width:520px) {
    .includedPremium {
        width: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 0;
        text-align: center;
        font-size: 15px;
    }
    .includedPremium i {
        font-size: 16px;
        margin-left: 2px;
    }
    .saveHeart {
        top: 43px;
        right: 3px;
        font-size: 29px;
    }
}
@media(max-width:415px) {
    .includedPremium {
        font-size: 13px;
    }
}
@media(max-width:800px) {
    .course-title .section-title {
        font-size: 25px;
        margin-bottom: 0px !important;
    }
}